
body{
    background-color: #f4f4f9;
}
h1{
    color:#1e90ff;
    text-align: center;
}
.p2{
    text-decoration:line-through;
}
.p1{
    text-align: center;
}
.p3{
    font-weight: bold;
}
.p5{
    letter-spacing: 3px;
}
