h2{
    text-align: center;
    color:#1e90ff;
}
div{
    background-color:#e6f7ff;
}
h3{
    color: #1e90ff;
    text-align: center;
}
p{
    text-align: center;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
}